body {
    background-color: #555555;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
    font-size: 35px;
    color: #2b2b2b;
}

.informationCard {
    width: 1250px;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    background-color: #555555;
    float: left;
    background-image: url('../blackFone3.png');
    border-style: solid;
    border-width: medium;
    border-color: rgba(0, 0, 0, 0.2);
    color: #dddddd;
    z-index: 10;

}

.topsection {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    background-color: #687062;
    width: 100%;
    background-image: url('../greenFone.png');
    border-style: solid;
    border-width: medium;
    border-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.topsectionlogo {
    float: left;
}

.TextInTopsection {
    float: left;
    margin-left: 30px;
    font-style: italic;
    font-family: Georgia, serif;
}

.Navigationlink {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 48px;
}

.SideVindow {
    margin-right: 30px;
    margin-top: 150px;
    height: 350px;
    width: 250px;
    background-image: url('../redFone.png');
    float: right;
    border-style: solid;
    border-width: medium;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 28px;
}

.img1 {
    -webkit-filter: sepia(100%);
    filter: sepia(60%);
    border-radius: 225px 225px 225px 225px / 150px 150px 150px 150px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    margin: 20px;
}

.img1contenior {

    background-color: #ffffff;
    height: 340px;
    width: 490px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}

.img2 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.img2contenior {
    border: 48px solid #000;
    border-image: url(../5.4_images-assignment/tic-tac-toe.png) 49 round;
    width: 500px;
    height: 230px;
    background-color: #ffffff;

}

.img3 {
    -webkit-filter: hue-rotate(90deg) drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000) hue-rotate(90deg);

}

.img3contenior {
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    background-color: #ffffff;
    width: 500px;

}

.img4contenior {
    filter: drop-shadow(0px 10px 10px #000000);
    -webkit-filter: drop-shadow(0px 10px 10px #000000);
    background-image: linear-gradient(135deg, #8b8bff, #ffffff);
    background-color: #8b8bff;
    width: 560px;
}

.img5 {
    border-radius: 80px 0px 80px 00px / 80px 0px 80px 0px;
    background-color: #f0e5e5;
    -webkit-filter: invert();
    filter: invert();
}

.img6contenior {
    position: relative;
    width: 400px;
    height: 352px;
}

.img6contenior>div {
    position: absolute;
    top: 110pt;
    left: 0;
    width: 400px;
    color: #FFFFFF;
    font-size: 51px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.img6contenior>img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}