body {
    background-color: #555555;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
    font-size: 35px;
    color: #2b2b2b;
}

.informationCard {
    width: 1250px;
    margin: 40px 40px 40px 40px;
    padding: 20px;
    background-color: #555555;
    float: left;
    background-image: url('../blackFone3.png');
    border-style: solid;
    border-width: medium;
    border-color: rgba(0, 0, 0, 0.2);
    color: #dddddd;

}

.topsection {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    background-color: #687062;
    width: 100%;
    background-image: url('../greenFone.png');
        border-style: solid;
    border-width: medium;
    border-color: rgba(0, 0, 0, 0.2);
}

.topsectionlogo {
    float: left;
}

.TextInTopsection {
    float: left;
    margin-left: 30px;
    font-style: italic;
    font-family: Georgia, serif;
}

.Navigationlink {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 48px;
}

.SideVindow {
    margin-right: 30px;
    margin-top: 150px;
    height: 300px;
    width: 150px;
    background-image: url('../redFone.png');
    float: right;
    border-style: solid;
    border-width: medium;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: monospace;
    font-weight:bold;
    font-size: 28px;
}